body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menumaster {
    background-color: #333;
    color: #fff;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .links {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
  }
  
  .links li {
    display: inline;
  }
  
  .links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .links li a:hover {
    background-color: #555;
    border-radius: 5px;
    color: rgb(114, 240, 64);
  }
  .botaocontato{
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    
  }
  .contato button:hover{
    background-color: #555;
    color: rgb(114, 240, 64);
  }
  .contexto{
    background-color: #333;
    padding: 100px;
    margin: 20px 10px;
    border-radius: 15px;
    color: #fff;
  }
 .botaoproximo{
  padding: 15px 40px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items:center ;
  text-align: center;
 }
.ai{
  text-decoration: none;
}
 .botaoproximo img{
  width: 30px;
  height: 30px;
  margin: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
 }
 .botaoproximo:hover{
  background-color: #333;
 }
 .botaoproximo:active {
  background-color: #0fe02b;
}
.cardmaster{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 20px 10px;
}
.card1{
  margin: 20px; 
  width: 300px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.card2{
  margin: 20px; 
  width: 300px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card3{
  margin: 20px; 
  width: 300px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

